* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 150vh;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

#accordionSection {
    padding: 100px 0;
    background-color: lightblue;
    color: #fff
}

/* .accordion__wrap {}  */
.accordion__name {
    padding: 20px;
    background: rgba(57, 61, 71, 0.7);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.plus {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.accordion__content {
    padding: 10px 20px;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s ease-out;
}


.accordion__content p {
    font-size: 20px;
    padding: 20px 0;
}


.accordion__wrap.accordion__active .accordion__content {
    max-height: 1000px;
    transition: 0.5s ease-in;
}


.accordion__wrap.accordion__active .plus {
    rotate: 45deg;
}